*{
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: #AFA49F;
    margin-bottom: 20px;
}
#words{
    margin: 20px; 
}
article{
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 15px;
}
P{
    background-color: white;
}
.btn{ 
    background-color: blacks;
}